* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f3136;
    color: #DCDDDE;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    margin: 30px 0 15px;
    text-align: center;
}

main {
    background-color: #36393f;
    border-radius: 8px;
    display: flex;
    margin: 20px auto;
    max-width: 1000px;
    padding: 30px;
}


table {
    border-collapse: collapse;
    display: inline-block;
    width: calc(50% - 5px);
}

table td {
    padding: 5px;
}

table th {
    padding: 5px 10px;
}

table td:not(:last-child), table th:not(:last-child) {
    border-right: 1px solid #72767d;
}

table tr:not(:last-child) td, table th {
    border-bottom: 1px solid #72767d;
}

.input td {
    padding: 5px 20px;
}

.output tr:hover td {
    background-color: #72767d20;
}


input[type=number] {
    -moz-appearance: textfield;
    background-color: #0000001a;
    border: 1px solid #0000004d;
    border-radius: 3px;
    color: #DCDDDE;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 30px;
    outline: none;
    padding: 5px;
    transition: border-color .2s ease-in-out;
    width: 70px;
}

input[type=number]:hover {
    border-color: #040405;
}

input[type=number]:focus {
    border-color: #00aff4;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 40px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch span {
    -webkit-transition: all 0.4s ease;
    background-color: #72767d;
    border-radius: 14px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease;
}

.switch span:before {
    -webkit-transition: .4s;
    background-color: #fff;
    border-radius: 50%;
    bottom: 3px;
    content: "";
    height: 18px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

.switch input:checked + span {
    background-color: #3ba55d;
}

.switch input:checked + span:before {
    -ms-transform: translateX(16px);
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
}