* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f3136;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #DCDDDE;
}

h1 {
    margin: 10px;
    text-align: center;
}

main {
    background-color: #36393f;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
}

section {
    display: inline-block;
    width: calc(50% - 5px);
}

.percent::after {
    content: '%';
}

table {
    border-collapse: collapse;
}

.input td {
    padding: 5px 20px;
}

.input td:first-child {
    border-right: 1px solid #72767d;
}

.input tr:not(:last-child) td {
    border-bottom: 1px solid #72767d;
}

input#treasury {
    background-color: #0000001a;
    border: 1px solid #0000004d;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #DCDDDE;
    border-radius: 3px;
    height: 30px;
    outline: none;
    padding: 5px;
    transition: border-color .2s ease-in-out;
    width: 70px;
}
input#treasury:hover {
    border-color: #040405;
}
input#treasury:focus {
    border-color: #00aff4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.switch {
    display: inline-block;
    height: 24px;
    width: 40px;
    position: relative;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch span {
    background-color: #72767d;
    border-radius: 14px;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
  
.switch span:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + span {
    background-color: #3ba55d;
}
  
input:checked + span:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


.output td {
    padding: 5px;
}

.output td:not(:last-child), .output th:not(:last-child) {
    border-right: 1px solid #72767d;
}

.output tr:not(:last-child) td, .output th {
    border-bottom: 1px solid #72767d;
}

.output th {
    padding: 5px 10px;
}

.output tr:hover td {
    background-color: #72767d20;
}